# Notes (03)

In [1]:
import numpy as np
# from scipy import sparse
from scipy.sparse import lil_matrix, csr_matrix

In [2]:
try: 
    import plmb
except ImportError:
    !pip install pmlb

Requirement already satisfied: pmlb in c:\programdata\anaconda3\lib\site-packages (1.0.1.post3)
Requirement already satisfied: pyyaml>=5.3.1 in c:\programdata\anaconda3\lib\site-packages (from pmlb) (6.0)
Requirement already satisfied: pandas>=1.0.5 in c:\programdata\anaconda3\lib\site-packages (from pmlb) (1.4.4)
Requirement already satisfied: requests>=2.24.0 in c:\programdata\anaconda3\lib\site-packages (from pmlb) (2.28.1)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->pmlb) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->pmlb) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->pmlb) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pmlb) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pmlb) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pmlb) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pmlb) (1.26.11)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.5->pmlb) (1.16.0)

# 03. Datasets and Benchmark

In [3]:
import pmlb

In [4]:
pmlb.dataset_names

['GAMETES_Epistasis_2_Way_1000atts_0.4H_EDM_1_EDM_1_1',
 'GAMETES_Epistasis_2_Way_20atts_0.1H_EDM_1_1',
 'GAMETES_Epistasis_2_Way_20atts_0.4H_EDM_1_1',
 'GAMETES_Epistasis_3_Way_20atts_0.2H_EDM_1_1',
 'GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM_2_001',
 'GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM_2_001',
 'Hill_Valley_with_noise',
 'Hill_Valley_without_noise',
 'adult',
 'agaricus_lepiota',
 'allbp',
 'allhyper',
 'allhypo',
 'allrep',
 'analcatdata_aids',
 'analcatdata_asbestos',
 'analcatdata_authorship',
 'analcatdata_bankruptcy',
 'analcatdata_boxing1',
 'analcatdata_boxing2',
 'analcatdata_creditscore',
 'analcatdata_cyyoung8092',
 'analcatdata_cyyoung9302',
 'analcatdata_dmft',
 'analcatdata_fraud',
 'analcatdata_germangss',
 'analcatdata_happiness',
 'analcatdata_japansolvent',
 'analcatdata_lawsuit',
 'ann_thyroid',
 'appendicitis',
 'australian',
 'auto',
 'backache',
 'balance_scale',
 'biomed',
 'breast',
 'breast_cancer',
 'breast_cancer_wisconsin',
 'breast_w',
 'buggyCrx',
 'bupa',
 'calendarDOW',
 'car',
 'car_evaluation',
 'cars',
 'chess',
 'churn',
 'clean1',
 'clean2',
 'cleve',
 'cleveland',
 'cleveland_nominal',
 'cloud',
 'cmc',
 'coil2000',
 'colic',
 'collins',
 'confidence',
 'connect_4',
 'contraceptive',
 'corral',
 'credit_a',
 'credit_g',
 'crx',
 'dermatology',
 'diabetes',
 'dis',
 'dna',
 'ecoli',
 'fars',
 'flags',
 'flare',
 'german',
 'glass',
 'glass2',
 'haberman',
 'hayes_roth',
 'heart_c',
 'heart_h',
 'heart_statlog',
 'hepatitis',
 'horse_colic',
 'house_votes_84',
 'hungarian',
 'hypothyroid',
 'ionosphere',
 'iris',
 'irish',
 'kddcup',
 'kr_vs_kp',
 'krkopt',
 'labor',
 'led24',
 'led7',
 'letter',
 'lupus',
 'lymphography',
 'magic',
 'mfeat_factors',
 'mfeat_fourier',
 'mfeat_karhunen',
 'mfeat_morphological',
 'mfeat_pixel',
 'mfeat_zernike',
 'mnist',
 'mofn_3_7_10',
 'molecular_biology_promoters',
 'monk1',
 'monk2',
 'monk3',
 'movement_libras',
 'mushroom',
 'mux6',
 'new_thyroid',
 'nursery',
 'optdigits',
 'page_blocks',
 'parity5',
 'parity5+5',
 'pendigits',
 'penguins',
 'phoneme',
 'pima',
 'poker',
 'postoperative_patient_data',
 'prnn_crabs',
 'prnn_fglass',
 'prnn_synth',
 'profb',
 'ring',
 'saheart',
 'satimage',
 'schizo',
 'segmentation',
 'shuttle',
 'sleep',
 'solar_flare_1',
 'solar_flare_2',
 'sonar',
 'soybean',
 'spambase',
 'spect',
 'spectf',
 'splice',
 'tae',
 'texture',
 'threeOf9',
 'tic_tac_toe',
 'tokyo1',
 'twonorm',
 'vehicle',
 'vote',
 'vowel',
 'waveform_21',
 'waveform_40',
 'wdbc',
 'wine_quality_red',
 'wine_quality_white',
 'wine_recognition',
 'xd6',
 'yeast',
 '1027_ESL',
 '1028_SWD',
 '1029_LEV',
 '1030_ERA',
 '1089_USCrime',
 '1096_FacultySalaries',
 '1191_BNG_pbc',
 '1193_BNG_lowbwt',
 '1196_BNG_pharynx',
 '1199_BNG_echoMonths',
 '1201_BNG_breastTumor',
 '1203_BNG_pwLinear',
 '1595_poker',
 '192_vineyard',
 '195_auto_price',
 '197_cpu_act',
 '201_pol',
 '207_autoPrice',
 '210_cloud',
 '215_2dplanes',
 '218_house_8L',
 '225_puma8NH',
 '227_cpu_small',
 '228_elusage',
 '229_pwLinear',
 '230_machine_cpu',
 '294_satellite_image',
 '344_mv',
 '4544_GeographicalOriginalofMusic',
 '485_analcatdata_vehicle',
 '503_wind',
 '505_tecator',
 '519_vinnie',
 '522_pm10',
 '523_analcatdata_neavote',
 '527_analcatdata_election2000',
 '529_pollen',
 '537_houses',
 '542_pollution',
 '547_no2',
 '556_analcatdata_apnea2',
 '557_analcatdata_apnea1',
 '560_bodyfat',
 '561_cpu',
 '562_cpu_small',
 '564_fried',
 '573_cpu_act',
 '574_house_16H',
 '579_fri_c0_250_5',
 '581_fri_c3_500_25',
 '582_fri_c1_500_25',
 '583_fri_c1_1000_50',
 '584_fri_c4_500_25',
 '586_fri_c3_1000_25',
 '588_fri_c4_1000_100',
 '589_fri_c2_1000_25',
 '590_fri_c0_1000_50',
 '591_fri_c1_100_10',
 '592_fri_c4_1000_25',
 '593_fri_c1_1000_10',
 '594_fri_c2_100_5',
 '595_fri_c0_1000_10',
 '596_fri_c2_250_5',
 '597_fri_c2_500_5',
 '598_fri_c0_1000_25',
 '599_fri_c2_1000_5',
 '601_fri_c1_250_5',
 '602_fri_c3_250_10',
 '603_fri_c0_250_50',
 '604_fri_c4_500_10',
 '605_fri_c2_250_25',
 '606_fri_c2_1000_10',
 '607_fri_c4_1000_50',
 '608_fri_c3_1000_10',
 '609_fri_c0_1000_5',
 '611_fri_c3_100_5',
 '612_fri_c1_1000_5',
 '613_fri_c3_250_5',
 '615_fri_c4_250_10',
 '616_fri_c4_500_50',
 '617_fri_c3_500_5',
 '618_fri_c3_1000_50',
 '620_fri_c1_1000_25',
 '621_fri_c0_100_10',
 '622_fri_c2_1000_50',
 '623_fri_c4_1000_10',
 '624_fri_c0_100_5',
 '626_fri_c2_500_50',
 '627_fri_c2_500_10',
 '628_fri_c3_1000_5',
 '631_fri_c1_500_5',
 '633_fri_c0_500_25',
 '634_fri_c2_100_10',
 '635_fri_c0_250_10',
 '637_fri_c1_500_50',
 '641_fri_c1_500_10',
 '643_fri_c2_500_25',
 '644_fri_c4_250_25',
 '645_fri_c3_500_50',
 '646_fri_c3_500_10',
 '647_fri_c1_250_10',
 '648_fri_c1_250_50',
 '649_fri_c0_500_5',
 '650_fri_c0_500_50',
 '651_fri_c0_100_25',
 '653_fri_c0_250_25',
 '654_fri_c0_500_10',
 '656_fri_c1_100_5',
 '657_fri_c2_250_10',
 '658_fri_c3_250_25',
 '659_sleuth_ex1714',
 '663_rabe_266',
 '665_sleuth_case2002',
 '666_rmftsa_ladata',
 '678_visualizing_environmental',
 '687_sleuth_ex1605',
 '690_visualizing_galaxy',
 '695_chatfield_4',
 '706_sleuth_case1202',
 '712_chscase_geyser1',
 'banana',
 'titanic']

In [5]:
print('All datasets in PMLB:')
print('—————————————————————')
print('\n')

for i, set in enumerate(pmlb.dataset_names):
    print(f'{i+1}. {set}')

All datasets in PMLB:
—————————————————————


1. GAMETES_Epistasis_2_Way_1000atts_0.4H_EDM_1_EDM_1_1
2. GAMETES_Epistasis_2_Way_20atts_0.1H_EDM_1_1
3. GAMETES_Epistasis_2_Way_20atts_0.4H_EDM_1_1
4. GAMETES_Epistasis_3_Way_20atts_0.2H_EDM_1_1
5. GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM_2_001
6. GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM_2_001
7. Hill_Valley_with_noise
8. Hill_Valley_without_noise
9. adult
10. agaricus_lepiota
11. allbp
12. allhyper
13. allhypo
14. allrep
15. analcatdata_aids
16. analcatdata_asbestos
17. analcatdata_authorship
18. analcatdata_bankruptcy
19. analcatdata_boxing1
20. analcatdata_boxing2
21. analcatdata_creditscore
22. analcatdata_cyyoung8092
23. analcatdata_cyyoung9302
24. analcatdata_dmft
25. analcatdata_fraud
26. analcatdata_germangss
27. analcatdata_happiness
28. analcatdata_japansolvent
29. analcatdata_lawsuit
30. ann_thyroid
31. appendicitis
32. australian
33. auto
34. backache
35. balance_scale
36. biomed
37. breast
38. breast_cancer
39. breast_cancer_wisconsin
40. breast_w
41. buggyCrx
42. bupa
43. calendarDOW
44. car
45. car_evaluation
46. cars
47. chess
48. churn
49. clean1
50. clean2
51. cleve
52. cleveland
53. cleveland_nominal
54. cloud
55. cmc
56. coil2000
57. colic
58. collins
59. confidence
60. connect_4
61. contraceptive
62. corral
63. credit_a
64. credit_g
65. crx
66. dermatology
67. diabetes
68. dis
69. dna
70. ecoli
71. fars
72. flags
73. flare
74. german
75. glass
76. glass2
77. haberman
78. hayes_roth
79. heart_c
80. heart_h
81. heart_statlog
82. hepatitis
83. horse_colic
84. house_votes_84
85. hungarian
86. hypothyroid
87. ionosphere
88. iris
89. irish
90. kddcup
91. kr_vs_kp
92. krkopt
93. labor
94. led24
95. led7
96. letter
97. lupus
98. lymphography
99. magic
100. mfeat_factors
101. mfeat_fourier
102. mfeat_karhunen
103. mfeat_morphological
104. mfeat_pixel
105. mfeat_zernike
106. mnist
107. mofn_3_7_10
108. molecular_biology_promoters
109. monk1
110. monk2
111. monk3
112. movement_libras
113. mushroom
114. mux6
115. new_thyroid
116. nursery
117. optdigits
118. page_blocks
119. parity5
120. parity5+5
121. pendigits
122. penguins
123. phoneme
124. pima
125. poker
126. postoperative_patient_data
127. prnn_crabs
128. prnn_fglass
129. prnn_synth
130. profb
131. ring
132. saheart
133. satimage
134. schizo
135. segmentation
136. shuttle
137. sleep
138. solar_flare_1
139. solar_flare_2
140. sonar
141. soybean
142. spambase
143. spect
144. spectf
145. splice
146. tae
147. texture
148. threeOf9
149. tic_tac_toe
150. tokyo1
151. twonorm
152. vehicle
153. vote
154. vowel
155. waveform_21
156. waveform_40
157. wdbc
158. wine_quality_red
159. wine_quality_white
160. wine_recognition
161. xd6
162. yeast
163. 1027_ESL
164. 1028_SWD
165. 1029_LEV
166. 1030_ERA
167. 1089_USCrime
168. 1096_FacultySalaries
169. 1191_BNG_pbc
170. 1193_BNG_lowbwt
171. 1196_BNG_pharynx
172. 1199_BNG_echoMonths
173. 1201_BNG_breastTumor
174. 1203_BNG_pwLinear
175. 1595_poker
176. 192_vineyard
177. 195_auto_price
178. 197_cpu_act
179. 201_pol
180. 207_autoPrice
181. 210_cloud
182. 215_2dplanes
183. 218_house_8L
184. 225_puma8NH
185. 227_cpu_small
186. 228_elusage
187. 229_pwLinear
188. 230_machine_cpu
189. 294_satellite_image
190. 344_mv
191. 4544_GeographicalOriginalofMusic
192. 485_analcatdata_vehicle
193. 503_wind
194. 505_tecator
195. 519_vinnie
196. 522_pm10
197. 523_analcatdata_neavote
198. 527_analcatdata_election2000
199. 529_pollen
200. 537_houses
201. 542_pollution
202. 547_no2
203. 556_analcatdata_apnea2
204. 557_analcatdata_apnea1
205. 560_bodyfat
206. 561_cpu
207. 562_cpu_small
208. 564_fried
209. 573_cpu_act
210. 574_house_16H
211. 579_fri_c0_250_5
212. 581_fri_c3_500_25
213. 582_fri_c1_500_25
214. 583_fri_c1_1000_50
215. 584_fri_c4_500_25
216. 586_fri_c3_1000_25
217. 588_fri_c4_1000_100
218. 589_fri_c2_1000_25
219. 590_fri_c0_1000_50
220. 591_fri_c1_100_10
221. 592_fri_c4_1000_25
222. 593_fri_c1_1000_10
223. 594_fri_c2_100_5
224. 595_fri_c0_1000_10
225. 596_fri_c2_250_5
226. 597_fri_c2_500_5
227. 598_fri_c0_1000_25
228. 599_fri_c2_1000_5
229. 601_fri_c1_250_5
230. 602_fri_c3_250_10
231. 603_fri_c0_250_50
232. 604_fri_c4_500_10
233. 605_fri_c2_250_25
234. 606_fri_c2_1000_10
235. 607_fri_c4_1000_50
236. 608_fri_c3_1000_10
237. 609_fri_c0_1000_5
238. 611_fri_c3_100_5
239. 612_fri_c1_1000_5
240. 613_fri_c3_250_5
241. 615_fri_c4_250_10
242. 616_fri_c4_500_50
243. 617_fri_c3_500_5
244. 618_fri_c3_1000_50
245. 620_fri_c1_1000_25
246. 621_fri_c0_100_10
247. 622_fri_c2_1000_50
248. 623_fri_c4_1000_10
249. 624_fri_c0_100_5
250. 626_fri_c2_500_50
251. 627_fri_c2_500_10
252. 628_fri_c3_1000_5
253. 631_fri_c1_500_5
254. 633_fri_c0_500_25
255. 634_fri_c2_100_10
256. 635_fri_c0_250_10
257. 637_fri_c1_500_50
258. 641_fri_c1_500_10
259. 643_fri_c2_500_25
260. 644_fri_c4_250_25
261. 645_fri_c3_500_50
262. 646_fri_c3_500_10
263. 647_fri_c1_250_10
264. 648_fri_c1_250_50
265. 649_fri_c0_500_5
266. 650_fri_c0_500_50
267. 651_fri_c0_100_25
268. 653_fri_c0_250_25
269. 654_fri_c0_500_10
270. 656_fri_c1_100_5
271. 657_fri_c2_250_10
272. 658_fri_c3_250_25
273. 659_sleuth_ex1714
274. 663_rabe_266
275. 665_sleuth_case2002
276. 666_rmftsa_ladata
277. 678_visualizing_environmental
278. 687_sleuth_ex1605
279. 690_visualizing_galaxy
280. 695_chatfield_4
281. 706_sleuth_case1202
282. 712_chscase_geyser1
283. banana
284. titanic

In [6]:
from pmlb import fetch_data

In [15]:
banana = fetch_data('banana')

In [14]:
banana.head()

     At1    At2  target
0  1.140 -0.114       0
1 -1.520 -1.150       1
2 -1.050  0.720       0
3 -0.916  0.397       1
4 -1.090  0.437       1

In [11]:
adult = fetch_data('adult')

In [17]:
adult.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39.0,7,77516.0,9,13.0,4,1,1,4,1,2174.0,0.0,40.0,39,1
1,50.0,6,83311.0,9,13.0,2,4,0,4,1,0.0,0.0,13.0,39,1
2,38.0,4,215646.0,11,9.0,0,6,1,4,1,0.0,0.0,40.0,39,1
3,53.0,4,234721.0,1,7.0,2,6,0,2,1,0.0,0.0,40.0,39,1
4,28.0,4,338409.0,9,13.0,2,10,5,2,0,0.0,0.0,40.0,5,1
5,37.0,4,284582.0,12,14.0,2,4,5,4,0,0.0,0.0,40.0,39,1
6,49.0,4,160187.0,6,5.0,3,8,1,2,0,0.0,0.0,16.0,23,1
7,52.0,6,209642.0,11,9.0,2,4,0,4,1,0.0,0.0,45.0,39,0
8,31.0,4,45781.0,12,14.0,4,10,1,4,0,14084.0,0.0,50.0,39,0
9,42.0,4,159449.0,9,13.0,2,4,0,4,1,5178.0,0.0,40.0,39,0
10,37.0,4,280464.0,15,10.0,2,4,0,2,1,0.0,0.0,80.0,39,0
11,30.0,7,141297.0,9,13.0,2,10,0,1,1,0.0,0.0,40.0,19,0
12,23.0,4,122272.0,9,13.0,4,1,3,4,0,0.0,0.0,30.0,39,1
13,32.0,4,205019.0,7,12.0,4,12,1,2,1,0.0,0.0,50.0,39,1
14,40.0,4,121772.0,8,11.0,2,3,0,1,1,0.0,0.0,40.0,0,0
15,34.0,4,245487.0,5,4.0,2,14,0,0,1,0.0,0.0,45.0,26,1
16,25.0,6,176756.0,11,9.0,4,5,3,4,1,0.0,0.0,35.0,39,1
17,32.0,4,186824.0,11,9.0,4,7,4,4,1,0.0,0.0,40.0,39,1
18,38.0,4,28887.0,1,7.0,2,12,0,4,1,0.0,0.0,50.0,39,1
19,43.0,6,292175.0,12,14.0,0,4,4,4,0,0.0,0.0,45.0,39,0

In [19]:
adult

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39.0,7,77516.0,9,13.0,4,1,1,4,1,2174.0,0.0,40.0,39,1
1,50.0,6,83311.0,9,13.0,2,4,0,4,1,0.0,0.0,13.0,39,1
2,38.0,4,215646.0,11,9.0,0,6,1,4,1,0.0,0.0,40.0,39,1
3,53.0,4,234721.0,1,7.0,2,6,0,2,1,0.0,0.0,40.0,39,1
4,28.0,4,338409.0,9,13.0,2,10,5,2,0,0.0,0.0,40.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39.0,4,215419.0,9,13.0,0,10,1,4,0,0.0,0.0,36.0,39,1
48838,64.0,0,321403.0,11,9.0,6,0,2,2,1,0.0,0.0,40.0,39,1
48839,38.0,4,374983.0,9,13.0,2,10,0,4,1,0.0,0.0,50.0,39,1
48840,44.0,4,83891.0,9,13.0,0,1,3,1,1,5455.0,0.0,40.0,39,1
48841,35.0,5,182148.0,9,13.0,2,4,0,4,1,0.0,0.0,60.0,39,0

In [20]:
banana_X, banana_y = fetch_data('banana', return_X_y=True)

print(banana_X, '\n')
print(banana_y)

[[ 1.14  -0.114]
 [-1.52  -1.15 ]
 [-1.05   0.72 ]
 ...
 [ 2.64   1.14 ]
 [ 0.769  0.772]
 [-0.255 -0.142]]

[0 1 0 ... 1 0 1]

In [21]:
banana_X, banana_y = fetch_data('banana', return_X_y=True, local_cache_dir='./data')

print(banana_X, '\n')
print(banana_y)

[[ 1.14  -0.114]
 [-1.52  -1.15 ]
 [-1.05   0.72 ]
 ...
 [ 2.64   1.14 ]
 [ 0.769  0.772]
 [-0.255 -0.142]]

[0 1 0 ... 1 0 1]

In [25]:
bc_1 = fetch_data('breast_cancer', local_cache_dir='./data')
bc_1.head(30)

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,target
0,2,2,2,0,2,3,1,3,0,1
1,3,0,2,0,1,1,1,1,0,0
2,3,0,6,0,1,2,0,2,0,1
3,2,2,6,0,2,3,1,2,1,0
4,2,2,5,4,2,2,0,5,0,1
5,3,2,4,4,1,2,1,3,1,0
6,3,0,7,0,1,3,0,3,0,0
7,2,2,1,0,1,2,0,3,0,0
8,2,2,0,0,1,2,1,4,0,0
9,2,0,7,2,2,2,1,3,1,0
10,3,2,4,0,1,2,0,2,0,0
11,4,0,2,0,1,2,1,3,0,0
12,3,0,5,0,1,1,1,1,0,0
13,3,0,4,0,1,2,1,3,0,0
14,2,2,4,0,1,2,0,2,1,1
15,1,2,3,0,1,3,0,1,0,0
16,3,2,1,4,1,1,1,3,0,0
17,4,0,2,0,1,2,1,3,0,0
18,3,2,7,0,1,2,0,3,0,0
19,3,0,3,0,1,3,0,3,0,0
20,3,1,3,0,0,1,0,2,0,1
21,4,0,7,4,1,2,1,3,1,0
22,3,0,2,0,1,2,1,2,0,0
23,2,2,1,0,1,1,1,3,0,0
24,1,2,2,5,2,3,0,2,1,1
25,3,0,3,4,2,2,1,3,0,0
26,3,0,1,0,1,2,1,2,0,0
27,2,2,1,0,1,1,1,3,0,0
28,4,0,5,4,2,3,0,2,0,0
29,2,2,2,2,2,3,0,2,0,1

In [27]:
bc_2 = fetch_data('breast_cancer', local_cache_dir='')
bc_2.head(30)

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,target
0,2,2,2,0,2,3,1,3,0,1
1,3,0,2,0,1,1,1,1,0,0
2,3,0,6,0,1,2,0,2,0,1
3,2,2,6,0,2,3,1,2,1,0
4,2,2,5,4,2,2,0,5,0,1
5,3,2,4,4,1,2,1,3,1,0
6,3,0,7,0,1,3,0,3,0,0
7,2,2,1,0,1,2,0,3,0,0
8,2,2,0,0,1,2,1,4,0,0
9,2,0,7,2,2,2,1,3,1,0
10,3,2,4,0,1,2,0,2,0,0
11,4,0,2,0,1,2,1,3,0,0
12,3,0,5,0,1,1,1,1,0,0
13,3,0,4,0,1,2,1,3,0,0
14,2,2,4,0,1,2,0,2,1,1
15,1,2,3,0,1,3,0,1,0,0
16,3,2,1,4,1,1,1,3,0,0
17,4,0,2,0,1,2,1,3,0,0
18,3,2,7,0,1,2,0,3,0,0
19,3,0,3,0,1,3,0,3,0,0
20,3,1,3,0,0,1,0,2,0,1
21,4,0,7,4,1,2,1,3,1,0
22,3,0,2,0,1,2,1,2,0,0
23,2,2,1,0,1,1,1,3,0,0
24,1,2,2,5,2,3,0,2,1,1
25,3,0,3,4,2,2,1,3,0,0
26,3,0,1,0,1,2,1,2,0,0
27,2,2,1,0,1,1,1,3,0,0
28,4,0,5,4,2,3,0,2,0,0
29,2,2,2,2,2,3,0,2,0,1

In [31]:
from pmlb import fetch_data, classification_dataset_names

for i, classification_dataset in enumerate(classification_dataset_names):
    print(i, classification_dataset)

0 GAMETES_Epistasis_2_Way_1000atts_0.4H_EDM_1_EDM_1_1
1 GAMETES_Epistasis_2_Way_20atts_0.1H_EDM_1_1
2 GAMETES_Epistasis_2_Way_20atts_0.4H_EDM_1_1
3 GAMETES_Epistasis_3_Way_20atts_0.2H_EDM_1_1
4 GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_50_EDM_2_001
5 GAMETES_Heterogeneity_20atts_1600_Het_0.4_0.2_75_EDM_2_001
6 Hill_Valley_with_noise
7 Hill_Valley_without_noise
8 adult
9 agaricus_lepiota
10 allbp
11 allhyper
12 allhypo
13 allrep
14 analcatdata_aids
15 analcatdata_asbestos
16 analcatdata_authorship
17 analcatdata_bankruptcy
18 analcatdata_boxing1
19 analcatdata_boxing2
20 analcatdata_creditscore
21 analcatdata_cyyoung8092
22 analcatdata_cyyoung9302
23 analcatdata_dmft
24 analcatdata_fraud
25 analcatdata_germangss
26 analcatdata_happiness
27 analcatdata_japansolvent
28 analcatdata_lawsuit
29 ann_thyroid
30 appendicitis
31 australian
32 auto
33 backache
34 balance_scale
35 biomed
36 breast
37 breast_cancer
38 breast_cancer_wisconsin
39 breast_w
40 buggyCrx
41 bupa
42 calendarDOW
43 car
44 car_evaluation
45 cars
46 chess
47 churn
48 clean1
49 clean2
50 cleve
51 cleveland
52 cleveland_nominal
53 cloud
54 cmc
55 coil2000
56 colic
57 collins
58 confidence
59 connect_4
60 contraceptive
61 corral
62 credit_a
63 credit_g
64 crx
65 dermatology
66 diabetes
67 dis
68 dna
69 ecoli
70 fars
71 flags
72 flare
73 german
74 glass
75 glass2
76 haberman
77 hayes_roth
78 heart_c
79 heart_h
80 heart_statlog
81 hepatitis
82 horse_colic
83 house_votes_84
84 hungarian
85 hypothyroid
86 ionosphere
87 iris
88 irish
89 kddcup
90 kr_vs_kp
91 krkopt
92 labor
93 led24
94 led7
95 letter
96 lupus
97 lymphography
98 magic
99 mfeat_factors
100 mfeat_fourier
101 mfeat_karhunen
102 mfeat_morphological
103 mfeat_pixel
104 mfeat_zernike
105 mnist
106 mofn_3_7_10
107 molecular_biology_promoters
108 monk1
109 monk2
110 monk3
111 movement_libras
112 mushroom
113 mux6
114 new_thyroid
115 nursery
116 optdigits
117 page_blocks
118 parity5
119 parity5+5
120 pendigits
121 penguins
122 phoneme
123 pima
124 poker
125 postoperative_patient_data
126 prnn_crabs
127 prnn_fglass
128 prnn_synth
129 profb
130 ring
131 saheart
132 satimage
133 schizo
134 segmentation
135 shuttle
136 sleep
137 solar_flare_1
138 solar_flare_2
139 sonar
140 soybean
141 spambase
142 spect
143 spectf
144 splice
145 tae
146 texture
147 threeOf9
148 tic_tac_toe
149 tokyo1
150 twonorm
151 vehicle
152 vote
153 vowel
154 waveform_21
155 waveform_40
156 wdbc
157 wine_quality_red
158 wine_quality_white
159 wine_recognition
160 xd6
161 yeast

In [32]:
analcatdata_creditscore = fetch_data('analcatdata_creditscore')
analcatdata_creditscore

,Age,Income.per.dependent,Monthly.credit.card.exp,Own.home,Self.employed,Derogatory.reports,target
0,38.0,4.52,124.98,1,0,0,1
1,33.0,2.42,9.85,0,0,0,1
2,34.0,4.50,15.00,1,0,0,1
3,31.0,2.54,137.87,0,0,0,1
4,32.0,9.79,546.50,1,0,0,1
...,...,...,...,...,...,...,...
95,22.0,1.56,0.00,0,0,0,1
96,33.0,6.00,474.15,1,0,1,1
97,25.0,3.60,234.05,0,0,1,1
98,26.0,5.00,451.20,1,0,0,1
99,46.0,5.50,251.52,1,0,0,1